/**
    Breakpoints
*/
$desktopWidth            : 1170px;
$smDesktopWidth          : 980px;
$tabletWidth             : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;


$defaultPadding          : 12px;
$maxWidth               : 1170px + $defaultPadding * 2;
